* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conteiner {
    background-color: rebeccapurple;
    min-height: 100vh;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.btnNegativo {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    justify-content: center;
}

.btnPositivo{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.btnZerar{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.btnPositivo button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    background-color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btnNegativo button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    background-color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btnZerar button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    background-color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btnPositivo button:hover {
    background-color: #4af13b;
}

.btnNegativo button:hover {
    background-color: #ff2121;
}

.btnZerar button:hover {
    background-color: #ffd35a;
}